@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

a:hover {
  text-decoration: none;
}

.App {
  font-family: "Inter var";
  font-variant: none;
  font-feature-settings: "ss01", "ss02", "cv01", "cv03";
}

/* .App-header { */
/*   background-color: #282c34; */
/*   min-height: 100vh; */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: center; */
/*   justify-content: center; */
/*   font-size: calc(10px + 2vmin); */
/*   color: white; */
/* } */

.Circle {
  height: 20px;
  width: 20px;
}

h3 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.summary {
  background-color: rgb(240, 245, 249);
  /* border: 1px solid; */
  border-radius: 15px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  .summary-title {
    font-weight: bold;
    font-size: 1.5em;
  }
  .summary-title.gradient {
    height: 25px;
    margin: 5px 7px;
    border-radius: 7px;
  }
  .summary-desc {
    color: #657795;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
  }
}
.deadlines {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.s-partition {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.s-sector {
  font-size: 0em;
  width: 10px;
  height: 10px;
  background-color: #f0f5f9;
  border: 1px solid #dfe8f9;
}
.s-sector.faulty {
}
.s-sector:hover {
  // width: 0px;
  // height: 0;
  border: 1px solid #657795;
  span {
    font-size: 30px;
    position: absolute;
    margin-top: -60px;
    margin-left: -40px;
    text-align: center;
    background: #fff;
    border: 1px solid;
    padding: 2px 10px;
  }
}
.deadline {
  font-size: 0.7em;
  .epochs {
    font-size: 0.8em;
    line-height: 0.3em;
  }
}
.partition {
  width: 10px;
  height: 10px;
  margin: 2px;
  border: 1px solid;
  display: block;
}
.hdds {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 2px;
  border: 3px solid #f0f5f9;
  padding: 1px;
  /* border-top: 7px solid; */
}
.hdd {
  width: 3px;
  height: 11px;
  background: #dfe8f9;
  border: 1px solid #657795;
}
.opacity5 {
  opacity: 0.4;
}
.provecommit .hdds {
  grid-template-columns: repeat(6, 1fr);
}
.provecommit .hdd {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}
.out {
  text-align: center;
  color: #212529;
}
.in {
  border-radius: 2px 2px 0px 0px;
  background: #f0f5f9;
  color: #657795;
  font-size: 0.9em;
  width: 100%;
  padding: 2px;
  text-align: center;
  font-weight: bold;
}

.flex {
  display: flex;
}

.section {
  margin-top: 20px;
  margin-bottom: 40px;
}
.section-title {
  display: flex;
  a {
    margin-left: 20px;
    margin-top: 4px;
    font-size: 0.9em;
  }
}

.miner-name {
  border: 1px solid #dfe8f9;
  padding: 4px 7px;
  border-radius: 10px;
  padding: 10px 20px;
  border-radius: 20px;
}

.provecommit .in {
  display: none;
}

#logo {
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
  span {
    background: linear-gradient(
      to right,
      #0c50ff 0,
      #0c50ff 24%,
      #5b9dff 55.73%,
      #ff74f1 75%,
      #ff74f1 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.tiny-grid {
  &:hover {
    opacity: 1;
  }
  opacity: 0.5;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-bottom: 32px;
  grid-template-columns: repeat(6, 1fr);
  div a,
  div span {
    display: block;
    font-weight: 600;
  }
}

.grid {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-bottom: 32px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.faulty {
  background: #c00;
  border: #c00;
}

.recovering {
  background: #0c0;
  border: #0c0;
}

.terminated {
  background: #000;
  border: #000;
}

.hddWrapper {
  border: 1px solid #dfe8f9;
  border-radius: 2px;
}
.hddWrapper:hover {
  border: 1px solid;
}
@media (max-width: 900px) {
  .deadlines {
    /* grid-template-columns: repeat(16, 1fr); */
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .tiny-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .deadlines {
    grid-template-columns: repeat(4, 1fr);
  }
}

.minerbar {
  .minerId {
    display: flex;
    font-size: 2.5em;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 700;
    a {
      color: #212529;
    }
  }
  .tinyarrow {
    font-size: 0.55em;
  }
}

.backto {
  a {
    background: #f0f5f9;
    color: #657795;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #fff;
  }
  a:hover {
    border: 1px solid;
  }
}

.bolder {
  font-weight: 700;
}

.rekt {
  color: white;
  background: #c00;
  border-radius: 10px;
  padding: 5px 10px;
}
.minerbar .rekt {
  font-size: 0.7em;
  margin-left: 10px;
}
.countdown {
  text-align: center;
  font-size: 120px;
  border-bottom: 1px solid;
}

.table.space {
  td,
  th {
    text-align: right;
  }
}

.gradient {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;

  background: linear-gradient(
    to right,
    #0c50ff,
    #0c50ff,
    #5b9dff,
    #ff74f1,
    #ff74f1,
    #ff74f1,
    #5b9dff,
    #0c50ff
  );
  opacity: 0.5;
  background-size: 1000px 640px;

  position: relative;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

td .gradient {
  height: 1.4em;
  border-radius: 7px;
}

.fil-logo {
  width: 1em;
  margin-left: 5px;
  margin-top: -3px;
}

.minerAddress {
  font-weight: 800;
}

.card-body table {
  margin-bottom: 0;
}

.search-bar {
  border: 1px solid #dfe8f9;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  input {
    font-family: "Inter var";
    border: 0;
    outline: none;
    text-align: center;
    margin: 0 auto;
  }
}

a {
  outline: 0;
}
